html {
    height: 100%;
}

body {
    background-image: url("../img/waldo.jpg");
    background-position: center;
    height: inherit;
}

button {
    left: calc((100vw / 2) + 355px);
    top: calc(78vh);
    position: absolute;
    height: 60px;
    width: 60px;
    background-color: transparent;
    border: none;

}

button:hover {
    cursor: initial;
}

button:focus {
    outline: none;
}

input[type=text] {
    border-radius: 0;
    border-bottom: 1px solid black;
    border-right: none;
    border-left: none;
    border-top: none;
    width: inherit;
}

input[type=text]:focus {
    outline: none;
}

#pwForm {
    width: 100%;
}

.modal-dialog {
    top: 30vh;
}

.modal-body {
    width: 100%;
}
